*{
  margin: 0;
  padding: 0;
}

.container {
  
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.name {
  color: orangered;
  font-size: 100px;
  font-family: sans-serif;
  text-align: center;
  margin-top: 40px;
}

.gallery {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.gallery__item {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
  object-fit: cover;
}
